.legend {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none;
  text-align: left;

  h2 {
    font-size: 14px;
    margin: 0;
    margin-bottom: 0.25em;
  }
}

.circlePreview {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 14px;
  svg {
    width: 18px;
    height: 18px;
  }

  + .circlePreview {
    margin-top: 0.25em;
  }
}
