.outsideOfficiatingBoundary {
  path {
    stroke: #cecece;
    fill: none;
    stroke-width: .07;
    stroke-dasharray: .18 .12;
  }
}

.measurementLine {
  stroke: red !important;
  fill: none;
  stroke-width: .07;
  stroke-dasharray: .18 .12;
}