$color: #ffa489;

$color2: #333467;

.pack path {
  stroke: transparentize($color, .2);
  stroke-width: .05;
  fill: transparentize($color, .5);
}

.engagementZone path {
  stroke: transparentize($color, .4);
  stroke-width: .05;
  fill: transparentize($color, .7);
}

.packRectangle path {
  stroke: $color2;
  opacity: .6;
  stroke-width: .05;
  fill: url(#rectangle-pack-pattern);
}