.trackOverlay {
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 100%;

  // squeeze buttons into view on iPhone4
  @media (max-width: 374.9px) {
    * {
      font-size: 11px;
    }
  }

  @media (min-width: 768px) {
    bottom: 20px;
    right: 20px;
    width: auto;
  }
}

.trackMenu {
  padding: 0;
  list-style-type: none;
  margin: 0 -5px -15px;
  background: rgba(255, 255, 255, .8);

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  li {
    flex: 0 0 auto;
    margin: 0 5px 15px;
  }

  @media (min-width: 768px) {
    justify-content: flex-end;
  }
}

.menuButton {
  border: 1px solid #000;
  background: transparent;
  border-radius: 1em;
  padding: .4em 1em;
  position: relative;

  font-family: 'Work Sans', sans-serif;

  cursor: pointer;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    box-shadow: 1px 1px 2px 0 #000;
    opacity: 0;
    transition: all .1s ease-in-out;
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }

  span {
    vertical-align: middle;
  }

  svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
  }
}

.orientationSetter {
  border-radius: 1em;
  border: 1px solid #000;
  position: relative;

  span {
    font-family: 'Work Sans', sans-serif;
    display: inline-block;
    width: 40px;
    text-align: center;
    user-select: none;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    box-shadow: 1px 1px 2px 0 #000;
    opacity: 0;
    transition: all .1s ease-in-out;
    z-index: 0;
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }
}

.menuButtonLeft {
  @extend .menuButton;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 0;
  border-right: 1px solid #000;
  padding-right: .5em;
  &:after {
    display: none;
  }
}

.menuButtonRight {
  @extend .menuButton;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 0;
  border-left: 1px solid #000;
  padding-left: .5em;
  &:after {
    display: none;
  }
}