.trackOverlay {
  padding: 0.25em 0.5em;
  border-top: 1px solid #ddd;

  // squeeze buttons into view on iPhone4
  @media (max-width: 374.9px) {
    &,
    * {
      font-size: 11px;
      line-height: 1;
    }
  }
}

.trackMenu {
  padding: 0;
  margin: 0;
  list-style-type: none;

  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
  gap: 10px 10px;
  width: 100%;
  margin-left: auto;
  margin-right: 10px;

  li {
    flex: 0 0 auto;
  }

  @media (max-width: 500px) {
    justify-content: center;
  }
}

.orientationSetter {
  > span {
    width: 40px;
    @media (max-width: 500px) {
      width: 4ch;
    }
  }
}

.viewSetter {
  > span {
    width: 100px;
    @media (max-width: 500px) {
      width: 6ch;
      padding-inline: 0.25em;
    }
  }
}
