.trackOverlay {
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 100%;
  z-index: 1;

  // squeeze buttons into view on iPhone4
  @media (max-width: 374.9px) {
    * {
      font-size: 11px;
    }
  }

  @media (min-width: 768px) {
    bottom: 10px;
    right: 10px;
  }
}

.trackMenu {
  padding: 0;
  margin: 0;
  list-style-type: none;

  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
  gap: 15px 10px;
  max-width: calc(100% - 150px);
  margin-left: auto;
  margin-right: 10px;

  li {
    flex: 0 0 auto;
  }
}

.orientationSetter {
  span {
    width: 40px;
  }
}

.viewSetter {
  span {
    width: 100px;
  }
}
