:global(.accordion__heading) {
  border-right: 1px solid var(--library-border-color);
  font-weight: bold;
}

:global(.accordion__heading--expanded) {
  border-bottom: 1px solid var(--library-border-color);
}

:global(.accordion) {
  border-top: 1px solid var(--library-border-color);
  border-bottom: 1px solid var(--library-border-color);
}

:global(.accordion__item) {
  &:nth-child(4n + 1) {
    border-left: 10px solid #ff75a0;
  }
  &:nth-child(4n + 2) {
    border-left: 10px solid #fce38a;
  }
  &:nth-child(4n + 3) {
    border-left: 10px solid #cdf798;
  }
  &:nth-child(4n + 4) {
    border-left: 10px solid #95e1d3;
  }
}

:global(.accordion__item .accordion__item) {
  &:nth-child(4n + 1) {
    border-left: 10px solid #7189bf;
  }
  &:nth-child(4n + 2) {
    border-left: 10px solid #df7599;
  }
  &:nth-child(4n + 3) {
    border-left: 10px solid #ffc785;
  }
  &:nth-child(4n + 4) {
    border-left: 10px solid #72d6c9;
  }
}

:global(.accordion__item + .accordion__item) {
  border-top: 1px solid var(--library-border-color);
}

:global(.accordion__button) {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;

  span {
    padding: 1em 0.5em 1em 0.75em;
  }

  span:last-child {
    display: inline-flex;
    align-items: center;
    border-left: 1px solid var(--library-border-color);
    padding-inline: 1rem;
  }

  svg {
    display: block;
    line-height: 0;
  }
}

:global(.accordion__button:hover) {
  background-color: var(--library-button-hover-color);
}

:global([hidden]) {
  display: none;
}

:global(.accordion__panel) {
  animation: accordionfadein 0.25s ease-in;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes accordionfadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
