:global(.accordion__heading) {
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  font-weight: bold;
}

:global(.accordion__heading--expanded) {
  border-bottom: 1px solid #999;
}

:global(.accordion) {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

:global(.accordion__item + .accordion__item) {
  border-top: 1px solid #999;
}

:global(.accordion__button) {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;

  span {
    padding: 1em 0.5em;
  }

  span:last-child {
    display: inline-flex;
    align-items: center;
    border-left: 1px solid #999;
    padding-inline: 1rem;
  }

  svg {
    display: block;
    line-height: 0;
  }
}

:global(.accordion__button:hover) {
  background-color: #fafafa;
}

:global([hidden]) {
  display: none;
}

:global(.accordion__panel) {
  border-right: 3px double #999;
  border-left: 3px double #999;
  animation: accordionfadein 0.25s ease-in;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes accordionfadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
