.library {
  padding: 1rem;
  overflow: auto;

  --library-border-color: #999;
  --library-button-hover-color: #fafafa;

  label {
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 0.5em;
    gap: 0.5em;
  }

  section > label {
    font-size: 16px;
  }

  section + section {
    margin-top: 1rem;
  }
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 0.75rem;
  margin-top: 0.75rem;
  margin-bottom: 2rem;

  gap: 1em 0.5em;

  border-top: 1px solid var(--library-border-color);
}

.libraryButton {
  font-size: 14px;
  border: 1px solid #000;
  background: transparent;
  border-radius: 1em;
  padding: 0.4em 1em;
  cursor: pointer;
}
.libraryButtonSmall {
  font-size: 12px;
}

.cancelChangesButton {
  &:hover,
  &:focus {
    border-color: red;
  }
}
