.sequencesEditor {
  text-align: left;
  > ul {
    padding: 0;
    list-style: none;

    > li > ul {
      padding: 0;
      padding-top: 0.5em;
      list-style: none;
    }

    > li,
    > li > ul > li {
      border: 1px solid black;
      padding: 0.5em;

      + li {
        margin-top: 0.5em;
      }
    }
  }

  label {
    display: block;
  }
}

.accordionContent {
  padding: 0.5em;
}
