.sequencesEditor {
  text-align: left;
  > ul {
    padding: 0;
    list-style: none;

    > li > ul {
      padding: 0;
      padding-top: 0.5em;
      list-style: none;
    }

    > li,
    > li > ul > li {
      border: 1px solid var(--library-border-color);
      padding: 0.5em;

      + li {
        margin-top: 0.5em;
      }
    }
  }

  label {
    display: block;
  }

  &:has(.removeAllSequences:hover, .removeAllSequences:focus)
    :global(.accordion) {
    box-shadow: 0 0 0 1px red;
  }
}

.accordionContent {
  padding: 1em 0 0.75em 0.75em;
}

.removeAllSequences:hover,
.removeAllSequences:focus {
  border-color: red;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 1em 0.5em;
  justify-content: center;
}

.accordionItemHeader {
  display: flex;
  > :first-child {
    flex-grow: 1;
  }
}

.sequenceControls {
  width: 45px;
  flex: 0 0 45px;

  display: grid;
  grid-template:
    "delete up"
    "delete down";

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    border-right: 1px solid var(--library-border-color);

    cursor: pointer;

    &:hover,
    &:focus {
      background-color: var(--library-button-hover-color);
    }

    &[disabled] {
      color: #ccc;
      cursor: not-allowed;
    }
  }

  button:nth-child(1) {
    grid-area: delete;
  }

  button:nth-child(2) {
    grid-area: up;
    border-bottom: 1px solid var(--library-border-color);
  }

  button:nth-child(3) {
    grid-area: down;
  }

  :global(.accordion__heading--expanded) + & {
    border-bottom: 1px solid var(--library-border-color);
  }
}
