.sequencesEditor {
  text-align: left;
  > ul {
    padding: 0;
    list-style: none;

    > li > ul {
      padding: 0;
      padding-top: 0.5em;
      list-style: none;
    }

    > li,
    > li > ul > li {
      border: 1px solid black;
      padding: 0.5em;

      + li {
        margin-top: 0.5em;
      }
    }
  }

  label {
    display: block;
  }

  &:has(.removeAllSequences:hover, .removeAllSequences:focus)
    :global(.accordion) {
    box-shadow: 0 0 0 1px red;
  }
}

.accordionContent {
  padding: 0.5em;

  &:has(.removeSequenceButton:hover, .removeSequenceButton:focus) {
    box-shadow: inset 0 0 0 1px red;
  }
}

.removeSequenceButton:hover,
.removeSequenceButton:focus,
.removeAllSequences:hover,
.removeAllSequences:focus {
  border-color: red;
}

.controls {
  display: flex;
  margin-top: 1rem;
  gap: 1em 0.5em;
  justify-content: center;
}
