.PlaybackControls {
  align-self: stretch;
  flex: 0 1 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: .25em;

  border-right: 1px solid #ccc;


  button {
    background: transparent;
    border: 1px solid #000;
    display: block;
    font-family: 'Work Sans', sans-serif;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: .25em;
    }

    svg {
      position: relative;
      top: .12em;
    }
  }
}