.PlaybackControls {
  align-self: stretch;
  flex: 0 1 auto;

  display: flex;
  align-items: center;

  button {
    background: transparent;
    border: 1px solid #000;
    display: block;
    text-align: center;

    svg {
      position: relative;
      top: 0.12em;
    }
  }
}
