.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: .8rem;
  background: #444;
  color: #fff;
  
  font-size: 1.2rem;
  line-height: 1.5;


  > ul {
    > li {
      text-transform: uppercase;
      @media (max-width: 767.9px) {
        font-size: 14px;

        &:not(:last-of-type) {
          margin-bottom: .5em;
        }
      }
    }

    ul {
      margin-top: .25em;
      text-transform: none;
    }

    ul li {
      @media (max-width: 767.9px) {
        font-size: 12px;
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}

.button {
  background: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;

  &.button--active {
    &:before {
      content: '> ';
      color: red;
    }
  }
}