.splitView {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 100%;

  .viewColumns {
    display: flex;
    align-items: stretch;
    flex: 1 0 auto;
  }

  .column {
    flex: 1 0 auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;

    &:not(:last-child) {

      &:after {
        content: '';
        background: #ddd;
        position: absolute;
        right: -2px;
        width: 4px;
        height: 100vh;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
      }
    }
  }

  &--2 {
    .column {
      width: 50%;
      flex: 1 0 auto;
    }
  }

  &.active {
    font-size: 200%;
  }
}

.LowerSection {
  border-top: 1px solid #ddd;
  position: relative;
  z-index: 1;
  background: #fff;
}

.SequenceEditorToggleButton {
  background: #f3f3f3;
  width: 100%;
  display: block;
  border: 0;
  border-radius: 0;
  padding: .25em .5em;
  display: flex;

  cursor: pointer;

  text-align: left;

  svg {
    vertical-align: middle;
    position: relative;

    &:last-of-type {
      margin-left: auto;
    }
  }

  span {
    margin-left: .25em;
    vertical-align: middle;
  }
}

.SequenceEditorWrapper {
  display: flex;
}
