.skater-A {
  .skaterBackground {
    fill: #ff0000;
    stroke: #000;
    stroke-width: .05;
  }
}

.skater-B {
  .skaterBackground {
    fill: #008000;
    stroke: #000;
    stroke-width: .05;
  }
}

.blockerNumber {
  font-family: 'Work Sans', sans-serif;
}

.pivotStripe {
  stroke-width: .15;
  stroke: #fff;
}

.pivotOutline {
  stroke: #000;
  stroke-width: .05;
  fill: none;
}

.jammerStar {
}

.skater {
  pointer-events: all;
  .rotationHandle {
    display: none;
    cursor: pointer;
  }

  &--has-focus {
    .skaterBackground,
    .jammerOutline,
    .pivotOutline,
    .shield {
      stroke: blueviolet;
    }
    .rotationHandle {
      display: initial;
    }
  }

  &--pack-skater {
    .skaterBackground,
    .pivotOutline {
      stroke: purple;
    }
  }

  $root: &;

  &:not(#{$root}--in-play),
  &:not(#{$root}--in-bounds) {
    .skaterBackground,
    .pivotOutline {
      stroke: red;
    }
  }
}

.shield {
  fill: none;
  stroke: #000;
  stroke-width: .04;
}