.skater-A {
  .skaterBackground {
    // fill: #ff0000;
    fill: var(--color-red);
    stroke: #000;
    stroke-width: .05;
  }
}

.skater-B {
  .skaterBackground {
    // fill: #008000;
    fill: var(--color-green);
    stroke: #000;
    stroke-width: .05;
  }
}

.blockerNumber {
  font-family: 'Work Sans', sans-serif;
}

.pivotStripe {
  stroke-width: .15;
  stroke: #fff;
}

.pivotOutline {
  stroke: #000;
  stroke-width: .05;
  fill: none;
}

.statusWrapper {
  pointer-events: none;
}

.status {
  display: none;
  filter: drop-shadow(0, 0, .2,#fff);
}

.skater {
  pointer-events: all;
  .rotationHandle {
    display: none;
    cursor: pointer;
  }

  &--has-focus {
    .rotationHandle {
      display: initial;
    }
  }

  $root: &;

  &--in-bounds:not(#{$root}--in-play) {
    .statusOutOfPlay {
      display: initial;
      fill: #f00;
    }
  }

  &:not(#{$root}--in-bounds) {
    .statusOutOfBounds {
      display: initial;
      fill: #f00;
    }
  }
}

.shield {
  fill: none;
  stroke: #000;
  stroke-width: .04;
}