.skater-A {
  .skaterBackground {
    stroke: #000;
    stroke-width: 0.05;
  }
}

.skater-B {
  .skaterBackground {
    stroke: #000;
    stroke-width: 0.05;
  }
}

.blockerNumber {
  font-family: "Work Sans", sans-serif;
}

.statusWrapper {
  pointer-events: none;
}

.status {
  display: none;
  filter: drop-shadow(0, 0, 0.2, #fff);
}

.skater {
  pointer-events: all;
  .rotationHandle {
    display: none;
    cursor: pointer;
  }

  &--has-focus {
    --skater-rim-color: rgb(163, 5, 100);
    .rotationHandle {
      display: initial;
    }
    .skaterBackground {
      stroke: var(--skater-rim-color, #000);
    }
  }

  $root: &;

  &--in-bounds:not(#{$root}--in-play) {
    .statusOutOfPlay {
      display: initial;
      fill: #f00;
    }
  }

  &:not(#{$root}--in-bounds) {
    .statusOutOfBounds {
      display: initial;
      fill: #f00;
    }
  }
}

.shield {
  fill: none;
  stroke: #000;
  stroke-width: 0.04;

  pointer-events: none;
}
