@font-face {
  font-family: 'Work Sans';
  src: url("./fonts/Work_Sans/static/WorkSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

body,
html {
  height: 100%;
}

#root {
  height: 100%;
  --body-color: #000;
  --button-disabled-color: #ccc;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  color: var(--body-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

@media (max-width: 374.9px) {
  .hidden--xs {
    display: none !important;
  }
}

@media (min-width: 375px) and (max-width: 500px) {
  .hidden--sm {
    display: none !important;
  }
}