@font-face {
  font-family: 'Work Sans';
  src: url("./fonts/Work_Sans/static/WorkSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

body,
html {
  height: 100%;
}

#root {
  height: 100%;
  --body-color: #000;
  --button-disabled-color: #ccc;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  color: var(--body-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: '';
  display: block;
  position: absolute;
  right: 7px;
  top: 0;
  transform: translateY(.75em);
  width: 0;
  height: 0;
  border-top: 5px solid currentColor;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

@media (max-width: 374.9px) {
  .hidden--xs {
    display: none !important;
  }
}

@media (min-width: 375px) and (max-width: 500px) {
  .hidden--sm {
    display: none !important;
  }
}