.SequenceEditor {
}

.Tracks {
  display: flex;
  align-items: center;

  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 25px 10px 10px;
  text-align: left;

  ul {
    display: inline-block;
    padding: 0;
    margin: 0;

    white-space: nowrap;

    li {
      display: inline-block;
    }
  }
}

.Track {
  position: relative;

  input {
    cursor: pointer;
    display: inline-block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  label {
    cursor: pointer;
    display: block;
    user-select: none;
    position: relative;

    padding: 0 5px;
  }

  span {
    // TODO: for screen readers only?
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

button.AddTrack {
  background: transparent;
  border: 0;
  border-radius: 50%;

  width: 25px;
  height: 25px;

  position: relative;

  svg {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
  }

  span {
    display: none;
    // TODO: only for screen readers
  }
}

.StoreNub {
  display: block;
  width: 35px;

  path:nth-of-type(1) {
    fill: #fff;
    transition: .1s fill ease-in-out;
  }

  path:nth-of-type(2) {
    fill: #738bff;
    transition: .1s fill ease-in-out;
  }

  &.StoreNubEmpty {
    path:nth-of-type(2) {
      fill: #fff;
    }
  }

  .TrackActive & {
    path:nth-of-type(1) {
      fill: #ffdfd0;
    }
  }
  // .Track input:focus ~ & {
  //   path:nth-of-type(1) {
  //     stroke: #0000ff;
  //   }
  // }
}


//
//  Buttons
//
%EditButton {
  border: 0;
  background: transparent;
  position: absolute;
  z-index: 1;

  cursor: pointer;

  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #000;
  padding: 0;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;
    height: 80%;
  }
}

button.MoveLeft {
  @extend %EditButton;

  top: -8px;
  left: -10px;
}

button.MoveRight {
  @extend %EditButton;

  top: -8px;
  right: -8px;
}

button.Remove {
  @extend %EditButton;

  bottom: -9px;
  right: -8px;
}

button.Save {
  @extend %EditButton;

  top: -25px;
  left: 2px;
}

button.Load {
  @extend %EditButton;

  top: -25px;
  right: 4px;
}