.SequenceEditor {
  flex: 1 0 auto;
  padding: .25rem 0 0;
}

.Tracks {
  display: flex;
  align-items: center;

  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 25px 10px 10px;
  text-align: left;

  ul {
    display: inline-block;
    padding: 0;
    margin: 0;

    white-space: nowrap;

    li {
      display: inline-block;
    }
  }
}

button.AddTrack {
  background: transparent;
  border: 0;
  border-radius: 50%;

  width: 25px;
  height: 25px;

  position: relative;

  svg {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
  }

  span {
    display: none;
    // TODO: only for screen readers
  }
}

.Thumbnail {
  position: absolute;

  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);

  width: 100px;
}